.single-post-content__container {
    margin-top: -60px;
    background: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, .2);
    padding: 20px;
}